.custom-btn {
  border-radius: 8px !important;
  font-weight: 500;
  transition: all 0.2s ease;

  padding: 9px 21px !important;
  margin-right: 10px !important;

  border-radius: 5px !important;

  &:last-child {
    margin-right: 0 !important;
  }
}

/* 主按钮：黑底白字 */
.btn-primary {
  background: #000 !important;
  border-color: #000 !important;
  color: #fff !important;

  &.ant-btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &:hover {
    background: #333 !important;
    border-color: #333 !important;
    color: #fff !important;
  }
}

.btn-default {
  background: #fff !important;
  border-color: #d9d9d9 !important;
  color: #333 !important;

  &:hover {
    background: #fafafa !important;
    border-color: #000 !important;
    color: #000 !important;
  }
}
