.top-mini-nav {
  height: 30px;
  line-height: 30px;
  background: #fff;
  font-size: 12px;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eee;

  .nav-item {
    cursor: pointer;
    &:hover {
      color: #f40;
    }
  }

  .divider {
    margin: 0 8px;
    color: #ccc;
  }
}
