.ant-menu {
  padding: 0 20px;
  .ant-menu-item {
    &:first-child {
      margin-top: 20px;
    }
  }
  // 二级菜单没有顶部距离
  .ant-menu-submenu {
    .ant-menu .ant-menu-item:first-child {
      margin-top: 0;
    }
    .ant-menu-item {
      padding-left: 60px !important;
    }
  }
}
