.custom-btn {
  border-radius: 8px !important;
  font-weight: 500;
  transition: all 0.2s ease;
  padding: 9px 21px !important;
  margin-right: 10px !important;

  &:last-child {
    margin-right: 0 !important;
  }
}
