.jd-detail-main {
  display: flex;
  padding: 20px;
  .jd-detail-left {
    width: 700px;
    background-color: #fff;
  }
  .jd-detail-right {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    height: 800px;
    padding: 10px;
  }
}
